.robotoMono{
  font-family: "Roboto Mono", monospace;
}

.robotoMono input{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

.robotoMono .rs-calendar-table{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

.robotoMono .rs-picker-toggle{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

.taskTitle {
  font-size: 20px;
  font-weight: 500;
}

.adicionarTarefa{
  color: black;
  background-color: white;
  border: 1px solid #272727;
  border-radius: 4px;
  height: 40px;
}

.adicionarTarefa:focus{
  color: black;
  background-color: white;
  border: 1px solid #272727;
  border-radius: 4px;
  height: 40px;
  outline: none;
}

.customButton{
  background-color: #272727;
}

.deleteTaskIcon {
  color: #636363;
  transition: color 0.15s;
}

.deleteTaskContainer{
  width: 24px;
  height: 24px;
}

.deleteTaskContainer :hover{
  cursor: pointer;
  color: #ee005b;
}